@using src.Core
@using System.IO
@using src.Core.Enums
@model src.Web.Common.Models.IncidentReportViewModel.IncidentReportViewModel
@{
    ViewBag.Title = Constants.MainPages.Home;
    Layout = "_Layout";
}
<link rel="stylesheet" href="~/lib/iCheck/all.css">
<script src="~/lib/iCheck/icheck.min.js"></script>
<form id="submitRequest" asp-controller="CovidIncident" asp-action="SaveRequest" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" role="form" class="form-horizontal" enctype="multipart/form-data">
    <input type="hidden" asp-for="travelId" />
    <input type="hidden" asp-for="redZoneId" />

    <div class="box box-danger">
        <div class="box-body">
            <div class="row">
                <div class="col-lg-8">
                    <div class="col-xs-4">
                        <img src="~/images/Logo.png" class="img-responsive" />
                    </div>
                    <div class="col-xs-8">
                        <h3 class="text-black text-bold">BẢN TƯỜNG TRÌNH COVID-19<br /></h3>
                        <h3 class="text-purple text-bold"><i>COVID-19 INCIDENT REPORT</i></h3>
                    </div>
                </div>
                <div class="col-lg-4">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th style="width:50%">Bộ phận/Issued by:</th>
                                <td>HR-AD</td>
                            </tr>
                            <tr>
                                <th>Số quản lý/ Code</th>
                                <td>CV-IR/HR-AD/0012C_001 (1)/</td>
                            </tr>
                            <tr>
                                <th>Phát hành/ Issued on:</th>
                                <td>03/12/2020</td>
                            </tr>
                            <tr>
                                <th>Trang/ No. of page</th>
                                <td>2</td>
                            </tr>
                            <tr>
                                <th>Trang/ No. of page</th>
                                <td>2</td>
                            </tr>
                            @if (Model.travelRequestId != null)
                            {
                                <tr>
                                    <th>Travel Declaration </th>
                                    <td>@Model.travelRequestId</td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="box box-solid">
                <div class="box-header with-border">

                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <h3 class="box-title"><span class="text-bold">Các bước cần thực hiện </span>/ <span class="text-bold text-purple"><i>Steps to complete:</i></span></h3>
                    <div class="col-sm-6">
                        <div class="text-justify">
                            <span>
                                <u><i>1. Liên hệ hotline y tế (19009095) của cơ quan nhà nước để được hướng dẫn & điền tờ khai y tế (tokhaiyte.vn) nếu được yêu cầu.</i></u>
                            </span>
                            <br />
                            <span class="text-purple"><i>Call Ministry of Health Hotline (19009095) for instructions and complete health declaration form (tokhaiyte.vn) when requested.</i></span>
                            <br />
                            <span> <u><i>2.  Làm bản tường trình theo biểu mẫu của VAS gởi về Khối HR ngay khi phát sinh (Form CV-IR/HR-AD/0012C_001 - Bản tường trình Covid-19)/</i></u></span>
                            <br />
                            <span class="text-purple"><i>Fill in VAS's templated form and send to HR Division as soon as possible (Form CV-IR/HR-AD/0012C_001 - Bản tường trình Covid-19)</i></span>
                            <br />
                            <span><u><i>3. Cập nhật tình trạng sức khỏe hiện tại cho Quản lý trực tiếp</i></u>/ </span><span class="text-purple"><i>Update their health condition regularly with the Line Managers</i></span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="text-justify">
                            <span class="text-purple">
                                <u><i>4. Thực hiện cách ly theo hướng dẫn từ cơ quan y tế và quy định của VAS</i></u>
                            </span>
                            <br />
                            <span class="text-purple"><i>Quarantine as requested by medical offices and VAS</i></span>
                            <br />
                            <span class="text-purple"> <u><i>5. Khuyến khích cập nhật thông tin trên ứng dụng Bluezone.gov.vn</i></u></span>
                            <br />
                            <span class="text-purple"><i>Update information about their health on Bluezone.gov.vn</i></span>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>

            <div class="row">
                <div class="col-md-6">
                    <p class="text-red text-bold">Vui lòng chọn một hoặc cả hai tình huống được nêu dưới đây/ Please select one or two from sceranios listed below</p>
                    <div class="form-group">
                        <div class="col-sm-6">
                            <label class="control-label" asp-for="@Model.CovidIncidentReportStatus">
                                <span>Thuộc đối tượng đi về từ vùng dịch:<span class="field-required">*</span></span>

                            </label>
                            <br />
                            <span class="text-purple">Returning from red zone</span>
                            <br /><span id="isReturnFromRedZoneErrorMessage"></span>
                        </div>
                        <div class="form-group">
                            <label>
                                <input type="checkbox" asp-for="isReturnFromRedZone" class="minimal-red require-one">
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <label>
                                <span>Thuộc đối tượng tiếp xúc với người nghi nhiễm:<span class="field-required">*</span></span>

                            </label>
                            <br />
                            <span class="text-purple">Contacting with a suspect case of Covid-19</span>
                            <br /><span id="isContactWithSuspectCaseErrorMessage"></span>
                        </div>
                        <label>
                            <input type="checkbox" asp-for="isContactWithSuspectCase" class="minimal-red require-one" checked>
                        </label>
                    </div>
                </div>
                <div id="redZoneArea" class="col-md-6">
                    <div class="form-group">
                        <div class="col-md-12">
                            <span>Địa điểm vùng dịch đã đến/<span class="text-purple"><i>Red zone</i></span></span>
                            <br />
                            <span>
                                <i>(Ghi rõ: Số nhà, tên đường, Phường, Quận/Huyện, Tỉnh/TP) / <span class="text-purple">(State clearly: House number, Street, Ward, District, City/Province)</span></i>
                            </span>
                        </div>
                        <div class="col-md-6">
                            <label>City/Province</label>
                            <select asp-for="redZoneProvinceId" asp-items="@Model.Provinces" class="form-control select2" style="width: 100%;">
                                <option value="">--Please select one--</option>
                            </select>

                        </div>
                        <div class="col-md-6">
                            <label asp-for="redZoneDistrictId">Quận - Huyện/District</label>
                            <select asp-for="redZoneDistrictId" class="form-control select2" style="width: 100%;">
                                <option value="">--Please select one--</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="redZoneWardId">Ward/ Phường</label>
                            <select asp-for="redZoneWardId" class="form-control select2" style="width: 100%;">
                                <option value="">--Please select one--</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="redZoneHomeAddress">Số nhà, tên đường/House number, Street</label>
                            <input type="text" asp-for="redZoneHomeAddress" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            @await Html.PartialAsync("_AddOrUpdate", Model)
            <div class="col-lg-12">
                <button id="btnSubmitRequest" style="margin-top:10px;" type="submit" class="btn btn-primary"><i class="fa fa-check-square-o"></i> Submit</button>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">
    $(".select2").select2();
    $(".datetravel").inputmask("99/99/9999", { "placeholder": "dd/mm/yyyy" });
    $(".datetravel").inputmask("99/99/9999", { "clearIncomplete": true });
    $('#btnSubmitRequest').prop('disabled', true);
    //Red color scheme for iCheck
    $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
        checkboxClass: 'icheckbox_minimal-red',
        radioClass: 'iradio_minimal-red'
    });

    $("#routesAtRedZoneArea").hide();
    $("#redZoneArea").hide();
    
    $("#estimatedDateBackToWorkArea").hide();
    $("#departureDate").val('');
    $("#returningDate").val('');
    $("#contactTime").val('');
    $("#dateBackToWork").val('');
    $("#estimatedDateBackToWork").val('');
    $("#appoinmentDateForTestResult").val('');
</script>