@using src.Core
@model src.Web.Common.Models.AccountViewModels.ForgotPasswordViewModel
@{
    Layout = "_LoginLayout";
    ViewData["Title"] = @SharedLocalizer["Reset_button"];
}
@using src.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
<p class="login-box-msg">@SharedLocalizer["EnterUsername"]</p>
<form asp-controller="Account" asp-action="ForgotPassword" method="post" class="form-horizontal">
    <div class="form-group has-feedback">
        <div class="col-md-12">
            <input asp-for="PhoneNumber" placeholder="Phone Number" class="form-control" />
            <span class="glyphicon glyphicon-earphone form-control-feedback"></span>
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>

        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary btn-block ladda-button">@SharedLocalizer["Reset_button"]</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-7">
            <i class="fa fa-arrow-circle-o-left"></i>
            <a asp-action="Login">@SharedLocalizer["BackToLogin"]</a>
        </div>
    </div>
</form>
