@using src.Core
@model src.Web.Common.Models.AccountViewModels.ResetPasswordViewModel
@{
    Layout = null;
    ViewData["Title"] = "Reset password";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"]</title>
    @await Html.PartialAsync("_StylesScriptsPartial")
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <div class="login-logo">
                <img class="img-responsive logo" src="~/images/Logo.png" alt="VAS">
            </div>
        </div>
        <div class="login-box-body">
            <form asp-controller="Account" asp-action="ResetPassword" method="post">
                <p class="login-box-msg">Reset your password.</p>
                <div asp-validation-summary="All" class="text-danger"></div>
                @*<input asp-for="Code" type="hidden" />*@
                <div class="form-group">
                    <label asp-for="PhoneNumber" class="control-label"></label>
                    <input asp-for="PhoneNumber" class="form-control" readonly />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="control-label"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button id="submit-button" type="submit" class="btn btn-primary btn-block">Reset</button>
                </div>
            </form>
        </div>
    </div>
    @section Scripts {
        @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    }
</body>
</html>
