@model IEnumerable<src.Core.Domains.updateHistory>

<div class="box box-danger">
    <div class="box-header with-border">
        <i class="fa fa-clock-o" aria-hidden="true"></i> Update History Management
    </div>


    <p></p>
    <div class="row col-lg-12">
        <span><label class="control-label text-red text-bold pull-left" style="padding-left:20px">Update History</label></span>
        <a id="export" class="text-bold pull-right">Export</a>
    </div>
    <br>
    <div class="row">
        <div class="box-body">
            <div class="form-group form-horizontal">
                <label for="Campus" class="control-label col-lg-2 text-right">Campus/Dept:</label>
                <div class="col-lg-10">
                    <div id="campus"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="box-body">
        <table class="table table-striped" id="updateHistoryList">
            <thead>
                <tr>
                    <th class="col-md-1">Số thứ tự / No. </th>
                    <th class="col-md-1">Ngày / Date </th>
                    <th class="col-md-2">Cơ sở / Campus </th>
                    <th class="col-md-1">Số Du lịch / Travel No.</th>
                    <th class="col-md-1">Số tường trình covid / Incident No.</th>
                    <th class="col-md-3">Dữ liệu / Field</th>
                    <th class="col-md-2">Giá trị cập nhật / Updated value</th>
                    <th class="col-md-2">Người cập nhật/ Updated by</th>
                </tr>
            </thead>
        </table>

    </div>
</div>

<script>
    $(document).ready(function () {
         var historyObj = @Html.Raw(Json.Serialize(@Model));
         dataTable = $('#updateHistoryList').DataTable({   
             initComplete: function () {
                 var api = this.api();
                 api.columns([2]).every(function () {
                     var Destino = '#campus';
                     var column = this;
                     var select = $('<select class="form-control select2" style="width: 100%;"><option value="">-- Select all --</option></select>')
                         .appendTo(Destino)
                         .on('change', function () {
                             var val = $.fn.dataTable.util.escapeRegex(
                                 $(this).val()
                             );
                             column.search(val ? '^' + val + '$' : '', true, false).draw();
                         });

                     column.data().unique().sort().each(function (d) {
                         select.append('<option value="' + d + '">' + d + '</option>');
                     });
                 });
                 api.on('draw', function () {
                });

             },
                @if (Model != null)
                  {
                        <text>
                            "data": historyObj,
                            "columns": [
                                {
                                    "title": "No.",
                                    "data":null
                                },
                                {
                                    "data": "updatedDate",
                                    "render": function (data, type, full, meta) {
                                        var result = data.split("-");
                                        var daySplit = result[2].split("T");
                                        return daySplit[0] + "/" + result[1] + "/" + result[0];
                                    }
                                },
                                {
                                    "data": "campus",
                                },
                                {
                                    "data": "travelId",
                                    "render": function (data, type, full, meta) {
                                        return "<a href='/CovidIncident/Edit/" + data + "')>" + full.travelNo + "</a>";
                                    },

                                },

                                {
                                    "data": "incidentId",
                                    "render": function (data, type, full, meta) {
                                        return "<a href='/CovidIncident/Edit/" + data + "')>" + full.incidentNo + "</a>";
                                    },
                                },
                                {
                                    "data": "updatedField",
                                },
                                {
                                    "data": "updatedValue",
                                },
                                {
                                    "data": "updatedBy",

                                }
                            ],
                         </text>
                  }


                "columnDefs": [
                    {
                        "targets": 1,
                        "bSortable": false,
                    },
                ],
                "scrollX": true,
                "retrieve": true,
                "language": {
                        "emptyTable": "no data found."
                },
                "lengthChange": false,
                "aaSorting": [],
                "processing": true,
                "pageLength": 20,
                "rowGroup": {
                    dataSrc: 'Class'
                },


            });

            dataTable.on('order.dt search.dt', function () {
                dataTable.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw();

        });
    $("#export").click(function (e) {
        location.href = "/Administration/Summary/ExportExcel";
    });
</script>